<div class="my-profile">
      <main class="img-bg">
        <header class="img-bg-inner">
          <div class="frame-parent">
            <div class="frame-wrapper">
              <div class="laquita-elliott-parent">
                <a class="laquita-elliott">Райан Гослинг</a>
                <div class="bitmap-copy-parent">
                  <img class="bitmap-copy-icon" alt="" src="assets/bitmap-copy@2x.png" />
                  <div class="elliottlaquitagmai">ryan.gosling</div>
                </div>
              </div>
            </div>
            <button class="buttons">
              <div class="content">
                <div class="content1">
                  <div class="icon">logout</div>
                </div>
              </div>
              <b class="lable">Редактировать</b>
              <div class="content2">
                <div class="content3">
                  <a class="icon1">settings</a>
                </div>
              </div>
            </button>
          </div>
        </header>
        <section class="post-container-parent"><post-container>  </post-container>
          <div class="frame-group">
            <div class="frame-container">
              <div class="frame-div">
                <div class="skills-parent">
                  <h3 class="skills">Подписчики</h3>
                  <div class="badge-container"><element-tags00d066badge [elementTags00D066BadgeFlexDirection]="'row'" [elementTags00D066BadgeAlignItems]="'flex-start'" [elementTags00D066BadgeJustifyContent]="'flex-start'" [elementTags00D066BadgePadding]="'1px 5px'" [bgTop]="'0px'" [bgRight]="'0px'" [bgBottom]="'0px'" [bgLeft]="'0px'" [bgMargin]="'0 !important'" [bgBackgroundColor]="'#98e9ab'" [numberPosition]="'relative'" [numberTop]="'unset'" [numberLeft]="'unset'" [numberHeight]="'16px'" [numberWidth]="'16px'" [numberDisplay]="'inline-block'"> </element-tags00d066badge>
                  </div>
                </div>
                <div class="image-gallery">
                  <img class="img-icon" alt="" src="assets/img-10@2x.png" />
                  <img class="img-icon" alt="" src="assets/img-11@2x.png" />
                  <img class="img-icon" alt="" src="assets/img-12@2x.png" />
                  <img class="img-icon" alt="" src="assets/img-13@2x.png" />
                  <img class="img-icon" alt="" src="assets/img-11@2x.png" />
                  <img class="img-icon" alt="" src="assets/img-12@2x.png" />
                  <div class="buttons-12px-icon-transpa-wrapper"><buttons12px-icon-transpa>  </buttons12px-icon-transpa>
                  </div>
                </div>
              </div>
            </div>
            <div class="skills-content-parent">
              <div class="skills-content">
                <div class="content4">
                  <h3 class="skills1">Навыки</h3>
                  <div class="content5">
                    <div class="element-tags">
                      <b class="tag">JS</b>
                    </div>
                    <div class="element-tags">
                      <b class="tag">CSS</b>
                    </div>
                    <div class="element-tags">
                      <b class="tag">HTML</b>
                    </div>
                    <div class="element-tags">
                      <b class="tag">Angular</b>
                    </div>
                    <div class="element-tags">
                      <b class="tag">Frontend</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bitmap-copy-6-parent">
                <img class="bitmap-copy-6" loading="lazy" alt="" src="assets/bitmap-copy@2x.png" />
                <h3 class="skills2">О себе</h3>
                <div class="happiness-is-not">Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.</div>
              </div>
            </div>
          </div>
        </section>
        <footer class="overlay" ></footer>
      </main><navigation-sidebar [type]="'My page'" [navigationSidebarPosition]="'absolute'" [navigationSidebarHeight]="'100%'" [navigationSidebarWidth]="'20.83%'" [navigationSidebarTop]="'0%'" [navigationSidebarRight]="'79.17%'" [navigationSidebarBottom]="'0%'" [navigationSidebarLeft]="'0%'" [home]="'assets/home.svg'" [chat]="'assets/chat.svg'" [search]="'assets/search.svg'" [settings]="'assets/settings.svg'"> </navigation-sidebar>
    </div>