<div class="root" [attr.data-color]="color" [attr.data-component]="component" [attr.data-size]="size" [attr.data-state]="state" [attr.data-type]="type" [ngStyle]="formsSecondaryStyle">
      <div class="field-title3">{{fieldTitle}}</div>
      <div class="form2">
        <div class="content44">
          <div class="placeholder1" [ngStyle]="placeholderStyle">{{placeholder}}</div>
          <div class="content43">
            <div class="content42">
              <a class="icon9">{{icon}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>