<div class="content45">
      <div class="content46"><forms-secondary [color]="'onDark'" [component]="'Select'" [size]="'14 px'" [state]="'Default'" [type]="'Primary'" [fieldTitle]="'Навыки'" [placeholder]="'Искать...'" [icon]="'search'"> </forms-secondary>
      </div>
      <div class="content47">
        <img class="img-icon12" loading="lazy" alt="" src="assets/img-3@2x.png" />
        <div class="message-details">
          <div class="user-time">
            <div class="user-message">Сара Коннор</div>
            <div class="time3">04.04.2024</div>
          </div>
          <div class="message-badge">
            <div class="user-message">Терминаторы тестирую стенд, Готему нужен герой. За ангуляр только ты шаришь, хелп!</div><element-tags00d066badge [elementTags00D066BadgeFlexDirection]="'row'" [elementTags00D066BadgeAlignItems]="'flex-start'" [elementTags00D066BadgeJustifyContent]="'flex-start'" [elementTags00D066BadgePadding]="'1px 5px'" [bgTop]="'0px'" [bgRight]="'0px'" [bgBottom]="'0px'" [bgLeft]="'0px'" [bgMargin]="'0 !important'" [bgBackgroundColor]="'#ae7aff'" [numberPosition]="'relative'" [numberTop]="'unset'" [numberLeft]="'unset'" [numberHeight]="'16px'" [numberWidth]="'16px'" [numberDisplay]="'inline-block'"> </element-tags00d066badge>
          </div>
        </div>
      </div>
      <div class="content48">
        <div class="content49">
          <img class="img-icon12" loading="lazy" alt="" src="assets/img-17@2x.png" />
          <div class="content50">
            <div class="content51">
              <div class="title3">
                <div class="user-message">Кристанна Локен</div>
                <div class="time3">8:22</div>
              </div>
              <div class="contact-message">Она в архиве</div>
            </div>
          </div>
        </div>
      </div>
    </div>