<div class="search">
      <main class="img-bg1">
        <section class="img-bg-child"><frame-component>  </frame-component>
        </section>
        <footer class="overlay1" ></footer>
      </main><navigation-sidebar [type]="'Search'" [navigationSidebarPosition]="'absolute'" [navigationSidebarHeight]="'100%'" [navigationSidebarWidth]="'20.83%'" [navigationSidebarTop]="'0%'" [navigationSidebarRight]="'79.17%'" [navigationSidebarBottom]="'0%'" [navigationSidebarLeft]="'0%'" [home]="'assets/home1.svg'" [chat]="'assets/chat.svg'" [search]="'assets/search1.svg'" [settings]="'assets/settings.svg'"> </navigation-sidebar>
    </div>