<div class="root3" [attr.data-type]="type" [ngStyle]="navigationSidebarStyle">
      <div class="content105">
        <div class="content102">
          <div class="logo">
            <img class="logo-tik-talk-icon" loading="lazy" alt="" src="assets/logotiktalk.svg" />
          </div>
          <div class="links">
            <div class="content91">
              <div class="item">
                <img class="home-icon" loading="lazy" alt="" [src]="home" />
                <b class="link2">Моя страница</b>
              </div>
            </div>
            <div class="content93">
              <div class="content92">
                <div class="item1">
                  <img class="chat-icon" loading="lazy" alt="" [src]="chat" />
                  <b class="link3">Чаты</b>
                </div><element-tags00d066badge [type]="'Settings'"> </element-tags00d066badge>
              </div>
            </div>
            <div class="content95">
              <div class="content94">
                <div class="item2">
                  <img class="search-icon" loading="lazy" alt="" [src]="search" />
                  <b class="link4">Поиск</b>
                </div><element-tags00d066badge [type]="'Settings'" [elementTags00D066BadgeFlexDirection]="'unset'" [elementTags00D066BadgeAlignItems]="'unset'" [elementTags00D066BadgeJustifyContent]="'unset'" [elementTags00D066BadgePadding]="'unset'" [bgTop]="'0%'" [bgRight]="'0%'" [bgBottom]="'0%'" [bgLeft]="'0%'" [bgMargin]="'unset'" [bgBackgroundColor]="'#ae7aff'" [numberPosition]="'absolute'" [numberTop]="'calc(50% - 8px)'" [numberLeft]="'calc(50% - 8px)'" [numberHeight]="'unset'" [numberWidth]="'unset'" [numberDisplay]="'unset'"> </element-tags00d066badge>
              </div>
            </div>
          </div>
          <div class="links1">
            <div class="content101">
              <div class="content96">
                <div class="team-members">Подписчики</div>
                <div class="team-members-parent">
                  <div class="team-members1">Все </div>
                  <div class="arrow"></div>
                </div>
              </div>
              <div class="content100">
                <div class="content97">
                  <img class="img-icon20" loading="lazy" alt="" src="assets/img-3@2x.png" />
                  <b class="link5">Сара Коннор</b>
                </div>
                <div class="content98">
                  <img class="img-icon21" loading="lazy" alt="" src="assets/img-17@2x.png" />
                  <b class="link6">Кристанна Локен</b>
                </div>
                <div class="content99">
                  <img class="img-icon22" loading="lazy" alt="" src="assets/img-18@2x.png" />
                  <b class="link7">Майкл Уинслоу</b>
                </div>
              </div>
              <div class="more">
                <div class="see-more">Все подписчики</div>
                <div class="arrow1">
                  <img class="vector-icon" loading="lazy" alt="" src="assets/vector.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="links2">
          <div class="content104">
            <div class="content103">
              <img class="img-icon23" loading="lazy" alt="" src="assets/img-1@2x.png" />
              <b class="link8">ryan.gosling</b>
              <img class="settings-icon" loading="lazy" alt="" [src]="settings" />
            </div>
          </div>
        </div>
      </div>
    </div>