<div class="profile-settings">
      <main class="img-bg2"><content1>  </content1>
        <section class="form-container">
          <div class="form-wrapper">
            <div class="avatars">
              <img class="bitmap-icon" alt="" src="assets/bitmap@2x.png" />
              <img class="bitmap-copy-icon1" alt="" src="assets/bitmap-copy@2x.png" />
              <img class="bitmap-copy-5" alt="" src="assets/bitmap-copy@2x.png" />
              <img class="bitmap-copy-3" alt="" src="assets/bitmap-copy@2x.png" />
              <img class="bitmap-copy-2" alt="" src="assets/bitmap-copy@2x.png" />
              <img class="bitmap-copy-7" loading="lazy" alt="" src="assets/bitmap-copy@2x.png" />
              <img class="bitmap-copy-61" loading="lazy" alt="" src="assets/bitmap-copy@2x.png" />
              <img class="bitmap-copy-8" loading="lazy" alt="" src="assets/bitmap-copy@2x.png" />
              <img class="bitmap-copy-4" alt="" src="assets/bitmap-copy@2x.png" />
              <img class="bitmap-copy-9" alt="" src="assets/bitmap-copy@2x.png" />
            </div>
            <div class="content11">
              <div class="input-field-wrapper">
                <div class="secondary-fields">
                  <div class="content12">
                    <div class="forms-secondary">
                      <div class="field-title">Имя</div>
                      <div class="form">
                        <div class="content13">
                          <div class="placeholder">Райан</div>
                        </div>
                      </div>
                    </div><forms-secondary [color]="'onDark'" [component]="'Select'" [size]="'14 px'" [state]="'Active'" [type]="'Primary'" [formsSecondaryAlignSelf]="'unset'" [formsSecondaryHeight]="'unset'" [fieldTitle]="'Фамилия'" [placeholder]="'Гослинг'" [placeholderHeight]="'unset'" [placeholderDisplay]="'unset'" [icon]="''"> </forms-secondary>
                  </div><forms-secondary [color]="'onDark'" [component]="'Select'" [size]="'14 px'" [state]="'Active'" [type]="'Primary'" [formsSecondaryAlignSelf]="'stretch'" [formsSecondaryHeight]="'64px'" [fieldTitle]="'Telegram username'" [placeholder]="'ryan.gosling'" [placeholderHeight]="'unset'" [placeholderDisplay]="'unset'" [icon]="''"> </forms-secondary><forms-secondary [color]="'onDark'" [component]="'Select'" [size]="'14 px'" [state]="'Active'" [type]="'Primary'" [formsSecondaryAlignSelf]="'stretch'" [formsSecondaryHeight]="'128px'" [fieldTitle]="'О себе'" [placeholder]="'Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.'" [placeholderHeight]="'unset'" [placeholderDisplay]="'unset'" [icon]="''"> </forms-secondary>
                  <div class="submit-button-wrapper">
                    <div class="subtitle1">Аватарка</div>
                    <div class="submit-button-container">
                      <img class="img-icon7" loading="lazy" alt="" src="assets/img@2x.png" />
                      <div class="content14">
                        <div class="button-icon-wrapper"><buttons16px-icon-transpa>  </buttons16px-icon-transpa>
                        </div>
                        <div class="field-title1">
                          <p class="p">
                              <span class="span">Перетащите изображение или </span>
                                <span class="span1">Загрузите</span>
                            <span class="span2"> </span>
                          </p>
                          <p class="x-5000-px">(разрешение до 5,000 x 5,000 px)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tags-input">
                  <img class="line-icon" alt="" src="assets/line-1.svg" />
                  <div class="forms-secondary1">
                    <div class="field-title">Навыки</div>
                    <div class="form1">
                      <div class="content15">
                        <div class="content16"><element-tags [color]="'onDark'" [type]="'Secondary Icon Before'" [showElementTags]="true" [iconHeight]="'unset'" [iconWidth]="'unset'" [iconDisplay]="'unset'" [tag]="'JS'" [tagTextDecoration]="'unset'" [tagHeight]="'unset'" [tagWidth]="'unset'" [tagDisplay]="'unset'"> </element-tags><element-tags [color]="'onDark'" [type]="'Secondary Icon Before'" [showElementTags]="true" [iconHeight]="'unset'" [iconWidth]="'unset'" [iconDisplay]="'unset'" [tag]="'CSS'" [tagTextDecoration]="'unset'" [tagHeight]="'unset'" [tagWidth]="'unset'" [tagDisplay]="'unset'"> </element-tags><element-tags [color]="'onDark'" [type]="'Secondary Icon Before'" [showElementTags]="true" [iconHeight]="'unset'" [iconWidth]="'unset'" [iconDisplay]="'unset'" [tag]="'Angular'" [tagTextDecoration]="'unset'" [tagHeight]="'unset'" [tagWidth]="'unset'" [tagDisplay]="'unset'"> </element-tags>
                        </div>
                        <a class="icon2">search</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content17">
                <div class="content18">
                  <div class="content19"><buttons [color]="'onDark'" [onlyIcon]="'On'" [size]="'14px'" [state]="'Default'" [type]="'Outline'" [buttonsHeight]="'unset'" [icon]="'delete_outline'"> </buttons><buttons [color]="'onDark'" [onlyIcon]="'On'" [size]="'14px'" [state]="'Default'" [type]="'Outline'" [buttonsHeight]="'unset'" [icon]="'logout'"> </buttons>
                  </div>
                  <div class="content19">
                    <button class="buttons1">
                      <div class="content21">
                        <div class="content22">
                          <div class="icon3">logout</div>
                        </div>
                      </div>
                      <b class="lable1">Отмена</b>
                      <div class="content21">
                        <div class="content24">
                          <div class="icon4"></div>
                        </div>
                      </div>
                    </button>
                    <button class="buttons2">
                      <div class="content21">
                        <div class="content22">
                          <div class="icon5">logout</div>
                        </div>
                      </div>
                      <b class="lable2">Сохранить</b>
                      <div class="content21">
                        <div class="content24">
                          <div class="icon6"></div>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main><navigation-sidebar [type]="'Settings'" [home]="'assets/home1.svg'" [chat]="'assets/chat.svg'" [search]="'assets/search.svg'" [settings]="'assets/settings1.svg'"> </navigation-sidebar>
    </div>