<div class="chats">
      <main class="user-dark-theme-8">
        <div class="main-content"><navigation-sidebar [type]="'Chat'" [navigationSidebarPosition]="'unset'" [navigationSidebarHeight]="'900px'" [navigationSidebarWidth]="'300px'" [navigationSidebarTop]="'unset'" [navigationSidebarRight]="'unset'" [navigationSidebarBottom]="'unset'" [navigationSidebarLeft]="'unset'" [home]="'assets/home1.svg'" [chat]="'assets/chat1.svg'" [search]="'assets/search.svg'" [settings]="'assets/settings.svg'"> </navigation-sidebar>
        </div>
        <div class="chat-area"><content>  </content>
        </div>
        <div class="chat-settings">
          <div class="content6">
            <div class="content7">
              <nav class="settings-text-w-icon-ondar">
                <div class="subtitle">Поиск</div><buttons [color]="'onDark'" [onlyIcon]="'On'" [size]="'14px'" [state]="'Default'" [type]="'Outline'" [icon]="''"> </buttons>
                <div class="content8">
                  <img class="img-icon6" loading="lazy" alt="" src="assets/img-17@2x.png" />
                  <b class="link">Кристанна Локен</b>
                </div><buttons [color]="'onDark'" [onlyIcon]="'On'" [size]="'14px'" [state]="'Default'" [type]="'Outline'" [buttonsHeight]="'unset'" [icon]="''"> </buttons>
              </nav>
            </div>
            <div class="content9">
              <div class="chat-list-wrapper">
                <button class="chat-items"><element-tags000000on-da>  </element-tags000000on-da>
                </button>
                <div class="content10"><inbox [color]="'onDark'" [state]="'Active'" [type]="'Text user'" [time]="'8:20 '" [txt]="'Привет! Куда Катя пропала? '"> </inbox><inbox1 [color]="'onDark'" [state]="'Resting'" [type]="'Text'"> </inbox1><inbox [color]="'onDark'" [state]="'Active'" [type]="'Text user'" [time]="'8:23 '" [txt]="'Разархивируйте ее пожалуйста. Она мне срочно нужна!'"> </inbox>
                </div>
              </div><send [color]="'onDark'" [state]="'Default'" [type]="'Post Field'" [showSend]="true" [subtitle]="'О себе'" [title]="'Напишите что-нибудь'" [line]="'assets/line2.svg'"> </send>
            </div>
          </div>
        </div>
      </main>
    </div>