<div class="content82">
      <div class="content83">
        <div class="content84">
          <div class="content85">
            <img class="img-icon19" loading="lazy" alt="" src="assets/img2@2x.png" />
            <div class="content86">
              <div class="content87">
                <a class="laquita-elliott3">Райан Гослинг</a>
                <div class="elliottlaquitagmai3">ryan.gosling</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img class="line-icon2" alt="" src="assets/line3.svg" />
      <div class="content88">
        <h3 class="skills3">Навыки</h3>
        <div class="content89">
          <div class="element-tags16">
            <b class="tag17">JS</b>
          </div>
          <div class="element-tags16">
            <b class="tag17">CSS</b>
          </div>
          <div class="element-tags16">
            <b class="tag17">Angular</b>
          </div>
        </div>
      </div>
      <div class="content90">
        <h3 class="skills3">О себе</h3>
        <div class="happiness-is-not3">Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.</div>
      </div>
    </div>