<div class="inbox" [attr.data-color]="color" [attr.data-state]="state" [attr.data-type]="type">
      <div class="content56">
        <div class="topline">
          <div class="time5">{{time}}</div>
          <b class="name5">Райан Гослинг</b>
        </div>
        <div class="content55">
          <div class="content54">
            <div class="txt">{{txt}}</div>
          </div>
          <img class="arrow-icon" loading="lazy" alt="" src="assets/arrow.svg" />
        </div>
      </div>
      <img class="img-icon14" loading="lazy" alt="" src="assets/img-7@2x.png" />
    </div>