<div class="inbox1" [attr.data-color]="color" [attr.data-state]="state" [attr.data-type]="type">
      <img class="img-icon15" loading="lazy" alt="" src="assets/img-8@2x.png" />
      <div class="content61">
        <div class="topline1">
          <b class="name6">Кристанна Локен</b>
          <div class="time6">8:22 </div>
        </div>
        <button class="content60">
          <div class="content59">
            <div class="content58">
              <div class="content57">
                <div class="txt1">Она в архиве</div>
              </div>
            </div>
          </div>
          <img class="rectangle-icon" alt="" src="assets/rectangle-7.svg" />
        </button>
      </div>
    </div>