<div class="post-open" *ngIf="showPostOpen" data-acc-item data-acc-open data-acc-header (click)="onAccordionHeaderClick($event)" [attr.data-color]="color" [attr.data-type]="type" [ngStyle]="postOpenStyle">
      <div class="content41">
        <div class="content40">
          <img class="img-icon8" alt="" src="assets/img-1@2x.png" />
          <div class="content39">
            <div class="content32">
              <div class="content31">
                <div class="content30">
                  <div class="title">
                    <b class="name">{{name1}}</b>
                    <div class="time">2 часа назад</div>
                  </div>
                  <div class="text">Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.</div>
                </div><buttons [color]="'onDark'" [onlyIcon]="'On'" [size]="'14px'" [state]="'Default'" [type]="'Link'" [buttonsHeight]="'unset'" [icon]="''"> </buttons>
              </div>
              <div class="grid">
                <img class="img-02-icon" alt="" src="assets/img-02@2x.png" />
                <div class="img-01-outline" ></div>
                <div class="img-02" ></div>
                <img class="img-01-icon" alt="" src="assets/img-01@2x.png" />
                <div class="img-02-outline" ></div>
              </div>
            </div>
            <div class="content33"><buttons12px-icon-label [color]="'onDark'" [type]="'Post'" [icon]="''" [lable]="'15'"> </buttons12px-icon-label><buttons12px-icon-label [color]="'onDark'" [type]="'Post'" [icon]="''" [iconColor]="'#fff'" [iconBackground]="'unset'" [iconWebkitBackgroundClip]="'unset'" [iconWebkitTextFillColor]="'unset'" [lable]="'28'" [lableColor]="'#fff'" [lableBackground]="'unset'" [lableWebkitBackgroundClip]="'unset'" [lableWebkitTextFillColor]="'unset'"> </buttons12px-icon-label>
            </div>
            <div class="accordion-content" data-acc-content>
              <div class="container">
                <div class="content38" *ngIf="showContent" [ngStyle]="contentStyle">
                  <div class="content36">
                    <div class="content34">
                      <img class="img-icon9" alt="" src="assets/img-3@2x.png" />
                      <div class="content-inner">
                        <div class="title-parent">
                          <div class="title1">
                            <div class="name1">Сара Коннор</div>
                            <div class="time1">04.04.2024</div>
                          </div>
                          <div class="text-wrapper">
                            <div class="text1">Терминаторы тестирую стенд, Готему нужен герой. За ангуляр только ты шаришь, хелп!</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="content35">
                      <img class="img-icon10" alt="" src="assets/img-3@2x.png" />
                      <div class="content-child">
                        <div class="title-group">
                          <div class="title2">
                            <div class="name2">Сара Коннор</div>
                            <div class="time2">04.04.2024</div>
                          </div>
                          <div class="text-container">
                            <div class="text2">Терминаторы тестирую стенд, Готему нужен герой. За ангуляр только ты шаришь, хелп!</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="content37">
                    <div class="content-item" ></div>
                  </div>
                </div>
              </div>
            </div><send [color]="'onDark'" [state]="'Default'" [type]="'Comments'" [showSend]="true" [sendHeight]="'unset'" [sendGap]="'unset'" [sendTransitionProperty]="'unset'" [sendTransitionTimingFunction]="'unset'" [sendTransitionDuration]="'unset'" [sendBorder]="'1px dashed #fff'" [sendAlignSelf]="'stretch'" [sendWidth]="'unset'" [subtitle]="'О себе'" [title]="'Напишите комментарий'" [titleWidth]="'unset'" [titleDisplay]="'unset'" [titleAlignSelf]="'stretch'" [line]="'assets/line1.svg'"> </send>
          </div>
        </div>
      </div>
      <div class="accordion-content1" ></div>
      <div class="div" ></div>
    </div>